# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv/
venv/
ENV/
env.bak/
env/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Logs and databases
*.log
*.sqlite
*.db

# Test coverage
htmlcov/
coverage.xml
.cache
.tox/

# Git
*.orig
*.swp
*.lock
*.bak

# Build outputs
build/
dist/
*.egg-info/

# Compiled source #
*.com
*.class
*.dll
*.exe
*.o
*.so
*.out

# Package managers
package-lock.json
pnpm-lock.yaml

# Data
data