# python==3.12
numpy
tqdm
jupyter
ipykernel
datasets
matplotlib
seaborn
scikit-learn
absl-py
torch
transformers[torch]
sentencepiece 
langchain
langchain-openai
langchain-huggingface
sentence-transformers==5.0.0
torch-geometric==2.6.1
plotly==6.2.0